@if (visibleItems().length > 0) {
<table
  class="w-full flex flex-col border-2 border-surface rounded-md shadow-lg"
>
  <tr class="w-full flex justify-between bg-surface">
    @for (col of columns(); track $index) {
    <th class="w-full">{{ col.label }}</th>
    }
  </tr>
  @for (item of visibleItems(); track item.id) {
  <tr
    [ngClass]="{
      'w-full p-2 flex justify-between items-center gap-1 cursor-pointer': true,
      'odd:bg-surface': true,
      '!bg-primary font-bold text-white':
        selectedItem() === item && isSelectable() && selectedItem()
    }"
    (click)="isSelectable() ? getSelectedItem(item) : null"
  >
    @for (col of columns(); track col) {
    <td class="w-full text-center">
      {{ col.format ? col.format(item[col.key], item) : item[col.key] }}
    </td>
    }
  </tr>
  }

  <div class="flex p-2 justify-end items-center bg-surface">
    <div
      class="w-full flex items-center justify-between flex-wrap sm:flex-nowrap"
    >
      @if (maxPage() > 0) {
      <div class="flex gap-4">
        <ng-content></ng-content>
      </div>
      <div class="flex items-center gap-4">
        <app-button
          [disabled]="currentPage() === 1"
          (clickEmitter)="goToPreviousLocalPage()"
          variant="ghost"
          size="icon"
        >
          <app-icon icon="solar:map-arrow-left-bold" label></app-icon>
        </app-button>
        <p class="font-bold">{{ currentPage() }} of {{ maxPage() }}</p>
        <app-button
          [disabled]="currentPage() === maxPage()"
          (clickEmitter)="goToNextLocalPage()"
          variant="ghost"
          size="icon"
        >
          <app-icon icon="solar:map-arrow-right-bold" label></app-icon>
        </app-button>
      </div>
      }
    </div>
  </div>
</table>
}@else{
<p class="text-lg">There is nothing to show</p>
}
