<table
  class="w-full flex flex-col border-2 border-surface rounded-md shadow-lg"
>
  <tr class="w-full flex justify-between bg-surface">
    @for (col of columns(); track $index) {
    <th class="w-full">{{ col.label }}</th>
    }
  </tr>
  @for (item of visibleItems(); track item.id) {
  <tr
    (click)="selectedItem.set(item.id)"
    class="w-full p-2 flex justify-between items-center gap-1 odd:bg-surface"
  >
    @for (col of columns(); track col) {
    <td class="w-full text-center">
      {{ col.format ? col.format(item[col.key], item) : item[col.key] }}
    </td>
    }
  </tr>
  }

  <div class="flex p-2 justify-end items-center bg-surface">
    <div
      class="w-full flex items-center justify-between flex-wrap sm:flex-nowrap"
    >
      <div class="flex gap-4">
        <ng-content></ng-content>
      </div>
      <div class="flex items-center gap-4">
        <app-button
          (clickEmitter)="goToPreviousLocalPage()"
          variant="ghost"
          size="icon"
        >
          <app-icon icon="solar:map-arrow-left-bold" label></app-icon>
        </app-button>
        <p class="font-bold">{{ currentPage() }} of {{ maxPage() }}</p>
        <app-button
          (clickEmitter)="goToNextLocalPage()"
          variant="ghost"
          size="icon"
        >
          <app-icon icon="solar:map-arrow-right-bold" label></app-icon>
        </app-button>
      </div>
    </div>
  </div>
</table>
