<nav
  class="flex gap-2 p-1.5 mx-5 sm:max-w-fit rounded-full scrollbar-hide overflow-x-auto whitespace-nowrap px-2 bg-gradient-to-r from-surface via-primary/5 to-surface shadow-md border border-primary/10">
  @for (item of menuItems(); track item.href) {
  <a class="flex w-full items-center gap-2 px-4 py-2 rounded-full hover:bg-primary/10 transition-all duration-300"
    routerLinkActive="bg-gradient-to-r from-primary/20 to-info/20 font-bold text-primary shadow-md ring-2 ring-primary/30"
    [routerLink]="[item.href]"> <app-icon [icon]="item.iconName" /> {{item.label}}</a>
  }
</nav>